<div class="container py-3 home-page-content">
    <div class=" p-2"></div>


    <section class="row mb-5">
        <div class="col-lg-10 offset-lg-1">
            <header class="my-5">
                <h3 >Featured Posts </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, nesciunt adipisci magnam ipsa consectetur beatae nihil magni porro vitae minus. Eligendi, deleniti? Suscipit, repudiandae cumque vitae dolorem laborum consequatur quibusdam.</p>
            </header>

            
            <div class="posts-grid--masonry">
                {{#each featured}}
                    <div href="/posts/{{_id}}" class=" text-white card post-card post-card--overlaping-image item-{{add @index  1}} ">
                        <div class="post-card__image" style="background-image:url('{{image}}')" ></div>
                        <div class="card-body">
                            <div class="author">
                                <img src="{{author.avatar}}" alt="">
                                <p>{{ author.name }}</p>
                            </div>
                            
                            <div class="content">
                                <h3 class="card-title">{{substring title 0 25 }}</h3>
                                {{#when @index 'eq' 0 }}
                                    <p>{{substring ../body 0 200}}</p>
                                {{/when}}
                                {{#when @index 'eq' 1 }}
                                    <p>{{substring ../body 0 70}}</p>
                                {{/when}}
                                {{#when @index 'eq' 2 }}
                                    <p>{{substring ../body 0 70}}</p>
                                {{/when}}

                                {{#when @index 'eq' 3 }}
                                    <p>{{substring ../body 0 200}}</p>
                                {{/when}}

                                {{#when @index 'eq' 4 }}
                                    <p>{{substring ../body 0 400}}</p>
                                {{/when}}
                                <a href="" class="btn btn-outline-light">Read More</a>
                            </div>
                        </div>
                    </div>
                {{/each}}

            </div>


        </div>
    </section>


    <section class="row ">

        <header class="my-5">
            <h3 >More Posts </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, nesciunt adipisci magnam ipsa consectetur beatae nihil magni </p>
        </header>


        {{#each posts}}
            <div class="col-4 mb-2">
                <div class="card">
                    <img src="{{ image }}" alt="" class="card-img-top">
                    <div class="card-body">
                        {{!-- media --}}
                        <h5 class="card-title">{{ substring title 0 50 }}</h5>
                        <p class="card-text">{{ substring body 0 200 }}</p>
                        <div class="card-text d-flex justify-content-between align-items-center">
                            <div class="author">
                                <img src="{{ author.avatar }}" alt="">
                                <p>{{ author.name }}</p>
                            </div>

                            <small class="text-muted">{{formatDate createdAt }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </section>

    <div class="row">
        <div class="col-sm-2 offset-sm-5 py-4 mb-3">
            <a href="/posts" class="btn btn-dark mt-3 d-block">View All</a>
        </div>
    </div>
    


</div>


<script>
    let featured = document.querySelectorAll('.posts-grid--masonry .post-card');

    featured.forEach(elm => {
        elm.addEventListener('click', function(){
            window.location = elm.getAttribute('href')
        })
    })
</script>