<div class="container py-3 post-show">
    <div class=" p-2"></div>

    <section class="row ">

        <div class="col-lg-10 offset-lg-1">
            <header class="my-5">
                <h3 ><%= post.title %> </h3>
            </header>

            <div class="d-flex justify-content-between align-items-center mb-5">
                <div class="author">
                    <img src="<%= post.author.avatar %>" alt="">
                    <p><%= post.author.name %></p>
                </div>

                <small ><%= moment(post.createdAt).format('MMM Do Y') %></small>
            </div>        

            <img src="<%= post.image %>" alt="" class="w-100">
            <div class="content my-5">
                <% post.body.split('\n').forEach(content => { %>
                    <p><%= content %></p>                 
                <% }) %>
            </div>
        </div>
    </section>

</div>